div.client-needs {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;

  .bio {
    width: 300px;
    margin-right: 5px;
    border-right: 1px black solid;
    padding: 0 10px;
  }

  .needs {
    width: 100%;

    button {
      margin: 5px;
    }

    .panel {
      margin: 5px;
    }


    .need {
      border-bottom: 1px solid black;
      margin: 5px;
    }
  }

  .modal-container {
    position: relative;
  }
  
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

}