div.client-needs {
  display: flex;
  flex-direction: row;

  .bio {
    width: 300px;
    margin-right: 5px;
    border-right: 1px black solid;
    padding: 0 10px;
  }

  .needs {
    width: 100%;

    button {
      margin: 5px;
    }

    .panel {
      margin: 5px;
    }


    .need {
      border: 1px solid black;
      margin: 5px;
    }
  }

}