.need {

  .type-select {
    width: 50%
  }

}

ul.recommended-resources {
  list-style-type: none;
  padding: 0;
  
  li.provider {
    margin: 10px;
    padding: 5px;
    background-color: lightyellow;

    div {
      display: inline-block;
      margin: 10px;
      vertical-align: top;
    }
  }
}
